---
calibre-web:
  image: lscr.io/linuxserver/calibre-web:latest
  container_name: calibre-web
  environment:
    - PUID=${PUID}
    - PGID=${PGID}
    - TZ=${TZ}
    - DOCKER_MODS=linuxserver/mods:universal-calibre #optional
  #      - OAUTHLIB_RELAX_TOKEN_SCOPE=1 #optional
  volumes:
    - ${DOCKER_VOLUME_BASE}/calibre-web/data:/config
    - ${BOOKS_DIR}:/books
  ports:
    - 8083:8083
  restart: unless-stopped
