services:
  grampsweb: &grampsweb
    image: ghcr.io/gramps-project/grampsweb:latest
    restart: always
    ports:
      - "5300:5000"  # host:docker
    environment:
      GRAMPSWEB_TREE: "Gramps Web"  # will create a new tree if not exists
      GRAMPSWEB_CELERY_CONFIG__broker_url: "redis://grampsweb_redis:6379/0" # Celery broker URL
      GRAMPSWEB_CELERY_CONFIG__result_backend: "redis://grampsweb_redis:6379/0" # Celery result backend
      GRAMPSWEB_RATELIMIT_STORAGE_URI: redis://grampsweb_redis:6379/1 # Rate limit storage
    depends_on:
      - grampsweb_redis
    volumes:
      - /volume2/docker/gramps/users:/app/users  # persist user database
      - /volume2/docker/gramps/index:/app/indexdir  # persist search index
      - /volume2/docker/gramps/thumbnail_cache:/app/thumbnail_cache  # persist thumbnails
      - /volume2/docker/gramps/cache:/app/cache  # persist export and report caches
      - /volume2/docker/gramps/secret:/app/secret  # persist flask secret
      - /volume2/docker/gramps/db:/root/.gramps/grampsdb  # persist Gramps database
      - /volume2/docker/gramps/media:/app/media  # persist media files
      - /volume2/docker/gramps/tmp:/tmp # persist temporary files

  grampsweb_celery:
    <<: *grampsweb  # YAML merge key copying the entire grampsweb service config
    ports: []
    container_name: grampsweb_celery
    depends_on:
      - grampsweb
      - grampsweb_redis
    command: celery -A gramps_webapi.celery worker --loglevel=INFO --concurrency=2

  grampsweb_redis:
    image: docker.io/library/redis:7.2.4-alpine
    container_name: grampsweb_redis
    restart: always

volumes:
  gramps_users:
  gramps_index:
  gramps_thumb_cache:
  gramps_cache:
  gramps_secret:
  gramps_db:
  gramps_media:
  gramps_tmp: